<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title align="center">Macro Calculator!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation.css') }}" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
<body>

<div class="row">
      <div class="large-12 columns">
        <h1>Today's Cal Dining Menu:</h1>
      </div>
    </div>

  
          
          
       


 <script>
 var totalFat = 0;
 var totalProtein = 0; 
 var totalCalories =0;
 var totalCarb =0;
 var foods = new Array();
 var foodcount = 0;
 </script> 


 
<div class="row">
  <div class="large-8 columns">
 {% for item in foodlist %}



 <p>

<strong><h5>{{item.get_id()}}. {{item.get_name() }}</h5></strong>

  <h6  class = "subheader"> Total Fat: {{item.get_fat()}}</h6>

  <h6  class = "subheader"> Total Carb:  {{item.get_carbs()}}</h6> 
  <h6  class = "subheader">Protein:{{item.get_protein()}}</h6> 
  <h6  class = "subheader">Calories:  {{item.get_calorie()}}</h6>

  <!-- Subtrac Function  -->
  <button class="tiny round alert button" onclick="function subNutrients(){
    if (totalFat - {{item.get_fat()}} >= 0)
      {
      totalFat -= {{item.get_fat()}}

      }

    
    updateMytotalFat();
    if(totalProtein - {{item.get_protein()}} >= 0)
    {
    totalProtein -= {{item.get_protein()}}
    }
    
    updateMytotalProtein();

    if(totalCarb - {{item.get_carbs()}} >= 0)
    {
    totalCarb -= {{item.get_carbs()}}
    }
    updateMytotalCarb();

    if(totalCalories - {{item.get_calorie()}} >= 0)
    {
    totalCalories -= {{item.get_calorie()}}
    }
    
    updateMytotalCalories();
    removeFromBasket();
  }
  subNutrients();">-</button>


  

  <!-- Add Function -->

  <button class="tiny round button" onclick="function addNutrients(){
    totalFat += {{item.get_fat()}}

    updateMytotalFat();

    
    totalProtein += {{item.get_protein()}}
    updateMytotalProtein();
        totalCarb += {{item.get_carbs()}}
    
    updateMytotalCarb();

    totalCalories += {{item.get_calorie()}}
    
    updateMytotalCalories();

    addToBasket( );
  }
  addNutrients();
  ">+</button></br>






</p>


{% endfor %}
</div>

    <div class="large-4 columns">


        <div class="sidebarBox">
          <div class="scrollingBox">
<script type="text/javascript">

document.write('<span id="totalFat"> Total Fat  = ' + totalFat + '</span><br/><br/>');
document.write('<span id="totalProtein"> Total Protein  = ' + totalProtein + '</span><br/><br/>');
document.write('<span id="totalCarb"> Total Carbs  = ' + totalCarb + '</span><br/><br/>');
document.write('<span id="totalCalories"> Total Calories  = ' + totalCalories + '</span><br/><br/>');
/*document.write('<input type="button" value="Add One" onclick="addOne()"/>')

function addOne() { 
  x++; 
  updateMyX(); 
};*/


function updateMytotalFat() {
  document.getElementById( 'totalFat' ).innerHTML = 'Total Fat = '+ totalFat.toFixed(1);

}
function updateMytotalProtein(){
  document.getElementById( 'totalProtein' ).innerHTML = 'Total Protein = ' + totalProtein.toFixed(1); 
}



function updateMytotalCarb() {
  document.getElementById( 'totalCarb' ).innerHTML = 'Total Carbs = '+ totalCarb.toFixed(1);
}

function updateMytotalCalories() {
  document.getElementById( 'totalCalories' ).innerHTML = 'Total Calories = '+ totalCalories.toFixed(1);
}



function resetAll(){
  totalFat = 0;
  totalProtein = 0; 
  totalCalories =0;
  totalCarb =0;
  foodcount = 0
 document.getElementById( 'totalFat' ).innerHTML = 'Total Fat = '+ totalFat;
  document.getElementById( 'totalProtein' ).innerHTML = 'Total Protein = ' + totalProtein; 
 document.getElementById( 'totalCarb' ).innerHTML = 'Total Carbs = '+ totalCarb;
  document.getElementById( 'totalCalories' ).innerHTML = 'Total Calories = '+ totalCalories;
  var x = document.getElementById("basket");
  x.innerHTML =  "None"
}

function addToBasket()
{
  foodcount += 1
  var x = document.getElementById("basket");
  x.innerHTML='' + foodcount;
}

function removeFromBasket()
{
  foodcount -= 1
  var x = document.getElementById("basket");
  x.innerHTML='' + foodcount;
}

</script> 

  <button class = "small round button"  onclick="resetAll()">Reset</button></br>

  <p> Number of foods added so far: </p>
  <p id="basket"> None </p>
</div>
</div>
</div>
</div>


<script type="text/javascript">
$(function() {
  // Set this variable with the desired height
  var offsetPixels = 120; 

  $(window).scroll(function() {
    if ($(window).scrollTop() >= 0) {
      $( ".scrollingBox" ).css({
        "position": "fixed",
        "top": "15px"
      });
    } else {
      $( ".scrollingBox" ).css({
        "position": "relative",
        "top": "0"
      });
    }
  });
});
</script>

</body>


</html>

<!-- Seems to be only executing the last function -->