<html>
  <body>

{% for item in foodlist %}
<p>
<button onclick="myFunction()">Subtract</button>
{{ item.get_name() }}
<button onclick="addFunction()">Add</button>


    <script>

      function addFunction() {
        {{counter.fat}} += {{item.fat}}
        {{counter.carb}} += {{item.carb}}
        {{counter.protein}} += {{item.protein}} 
        {{counter.calorie}} +={{item.calorie}} 
  


      }
    </script>
</p>
{% endfor %}





    <p>  counter.fat </p>
    {{counter.fat}}
     <p>  {{counter.carb}} </p>
      <p>  {{counter.protein}} </p>
       <p>  {{counter.calorie}} </p>
  </body>
</html>